src/TM-Content-report.json
{
  "name": "TM-Content-report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1072,
        528
      ],
      "id": "7ad86ea8-3ce0-4841-9990-8320ba46ae1c",
      "name": "Schedule Trigger",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "connectionTimeoutMillis": 300
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -416,
        528
      ],
      "id": "68e78a3f-3597-42db-b70c-aa29d10c8129",
      "name": "MySQL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "AXXdBrGVdV353y9I",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { userMonths, userYear } = $input.first().json;\n\n// Sort months\nconst months = [...userMonths].map(Number).sort((a, b) => a - b);\n\nif (!months.length) {\n    throw new Error(\"userMonths cannot be empty\");\n}\n\nconst firstMonth = months[0];\nconst lastMonth = months[months.length - 1];\n\n// Start Date\nconst startDate =\n    `${userYear}-${String(firstMonth).padStart(2, \"0\")}-01 00:00:00`;\n\n// End Date = first day of next month\nlet endMonth = lastMonth + 1;\nlet endYear = userYear;\n\nif (endMonth === 13) {\n    endMonth = 1;\n    endYear++;\n}\n\nconst endDate =\n    `${endYear}-${String(endMonth).padStart(2, \"0\")}-01 00:00:00`;\n\nconst query = `\nSELECT\n    m.content_id,\n    m.content_key,\n    m.content_type,\n    m.content_title,\n    m.external_id,\n    m.status,\n\n    DATE_FORMAT(m.created_date,'%Y-%m-%d %H:%i:%s') AS metadata_created_date,\n\n    COALESCE(v.file_name,'') AS file_name,\n    COALESCE(v.file_type,'') AS file_type,\n\n    DATE_FORMAT(v.created_date,'%Y-%m-%d %H:%i:%s') AS video_created_date,\n\n    CASE\n        WHEN JSON_VALID(v.media_info)\n        THEN COALESCE(\n            JSON_UNQUOTE(JSON_EXTRACT(v.media_info,'$.encode.duration')),\n            0\n        )\n        ELSE 0\n    END AS duration\n\nFROM media_asset.asset m\n\nLEFT JOIN media_asset.asset v\n    ON v.content_key = m.content_key\n    AND v.service_id = 9001\n    AND v.file_type = 'video'\n    AND v.status = 'processing-success'\n    AND v.created_date = (\n        SELECT MAX(v2.created_date)\n        FROM media_asset.asset v2\n        WHERE v2.content_key = m.content_key\n          AND v2.service_id = 9001\n          AND v2.file_type = 'video'\n          AND v2.status = 'processing-success'\n    )\n\nWHERE\n    m.service_id = 9001\n    AND m.file_type = 'metadata'\n\n    AND (\n        (\n            LOWER(m.content_type) IN ('series','season')\n            AND m.status = 'processing-not-required'\n        )\n        OR\n        (\n            LOWER(m.content_type) NOT IN ('series','season')\n            AND m.status IN ('processing-success','processing-not-required')\n        )\n    )\n\n    AND m.created_date >= '${startDate}'\n    AND m.created_date < '${endDate}'\n\nORDER BY\n    m.created_date;\n`;\n\nreturn [\n    {\n        json: {\n            query\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        528
      ],
      "id": "6ecaf0b8-c63f-45d5-ae9b-3aa8c50522d1",
      "name": "Creating_the_query",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        256
      ],
      "id": "ff433c8c-ea4d-4961-9ae0-cf8d5e5ae002",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e52c79c9-2dc0-4d7c-b7fc-7a5b0146f4fe"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "content_key",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        496
      ],
      "id": "d96e2c65-015b-4912-98b2-64c18af7d02f",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();       // All incoming items\nconst batchSize = 80;\nconst output = [];\n\nfor (let i = 0; i < items.length; i += batchSize) {\n  const batch = items.slice(i, i + batchSize);\n\n  // Extract content_keys from this batch\n  const keys = batch.map(item => item.json.content_key);\n\n  output.push({\n    json: {\n      keys: keys    // array of 80 or remaining keys\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        256
      ],
      "id": "fb2a3ffc-4171-4db4-9982-29a6e7d1229e",
      "name": "Feteching the keys from Json",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://10.199.64.81:8093/query/service",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/x-www-form-urlencoded\"\n}\n",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "statement",
              "value": "=select id, st,`key`,l2v_cs from `vod-content` where `key` in [{{ '\"' + $json.keys.join('\",\"') + '\"' }}] and urn is not null"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        240
      ],
      "id": "441b49a2-b6c4-47ad-8793-65a9d9e5f015",
      "name": "Couch base query for Call sign",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "Yc8sb0VkbNio1ayF",
          "name": "credential"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        304
      ],
      "id": "2388452a-4546-4065-9e7a-aaa1f51565c9",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        464,
        0
      ],
      "id": "36660b60-4d15-4cf9-b0dd-c5f8abd3d101"
    },
    {
      "parameters": {
        "jsCode": "// This node must be set to \"Run Once for All Items\"\n\nconst inputItems = $input.all();   // get all items from previous node\n\nconst combinedResults = inputItems.reduce((accumulator, currentItem) => {\n  \n  // Correct path based on your sample data\n  const nestedResults = currentItem.json.results || [];\n\n  // Map the fields you need\n  const mappedResults = nestedResults.map(item => ({\n    content_id: item.id,\n    content_key: item.key,\n    call_sign: item.l2v_cs,\n    status : item.st\n  }));\n\n  // Merge into accumulator\n  return accumulator.concat(mappedResults);\n\n}, []);\n\n// Return the final merged result\nreturn [\n  {\n    json: {\n      all_content_data: combinedResults\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        352
      ],
      "id": "36281512-9cd6-4c1b-a183-2e573e4c4d6c",
      "name": "Combine all Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const results = $json.all_content_data;\n\nreturn results.map(item => ({\n  json: {\n    content_id: item.content_id,\n    content_key: item.content_key,\n    call_sign: item.call_sign,\n    vod_cms_status : item.status\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        352
      ],
      "id": "b993e429-3dad-4cb9-9c96-b848721ccbe4",
      "name": "Organized the data from data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\n\n// 1. Total content count\nlet totalContent = items.length;\n\n// 2. Total duration in seconds\nlet totalDurationSec = items.reduce((sum, item) => {\n    return sum + Number(item.json.duration || 0);\n}, 0);\n\n// 3. Total duration in hours\nlet totalDurationHours = totalDurationSec / 3600;\n\n// 4. Start with original rows\nlet output = [...items];\n\n// 5. Add one empty row\noutput.push({\n    json: {\n        content_title: \"\",\n        duration: \"\"\n    }\n});\n\n// 6. Add summary rows\n\noutput.push({\n    json: {\n        content_title: \"Duration in Seconds\",\n        duration: totalDurationSec\n    }\n});\n\noutput.push({\n    json: {\n        content_title: \"Duration in Hours\",\n        duration: totalDurationHours\n    }\n});\n\noutput.push({\n    json: {\n        content_title: \"Total Contents\",\n        duration: totalContent\n    }\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        496
      ],
      "id": "7b23ab1d-a13f-42dc-8a21-f11c099caeba",
      "name": "Summary of VOD Ingestion data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $now.toFormat(\"yyyy-MM\") }}_Monthly_Content_Ingestion_data_{{ $now.toFormat(\"DD_MM_yyyy-hh_mm_ss\") }}.xlsx",
          "sheetName": "={{ $now.toFormat(\"DD_MM_yyyy_hh_mm_ss\") }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1616,
        496
      ],
      "id": "b82da784-8efe-444d-a57a-e07fe6b8f4e7",
      "name": "Monthly VOD Ingestion",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\n// Return them properly for next node\nreturn [\n  {\n  \"userMonths\": [7],\n  \"userYear\": 2026\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        528
      ],
      "id": "7b202586-c02b-46c3-9308-4d1409a122d7",
      "name": "Input Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Feteching the keys from Json",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Creating_the_query": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Couch base query for Call sign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Summary of VOD Ingestion data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feteching the keys from Json": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Couch base query for Call sign": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Combine all Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine all Data": {
      "main": [
        [
          {
            "node": "Organized the data from data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organized the data from data": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary of VOD Ingestion data": {
      "main": [
        [
          {
            "node": "Monthly VOD Ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Data": {
      "main": [
        [
          {
            "node": "Creating_the_query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "63ff4dae-09f7-4b36-b8de-4e48362136d4",
  "meta": {
    "instanceId": "4325ee3715124def649dac150d1cf81ff73ef3f21970b5397810e6ba9eb366ea"
  },
  "id": "0MyB2zL2ND7VaUK3",
  "tags": []
}